* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body { 
    width: 100%;
    overflow: hidden;
}

header {
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menu-mobile {
    display: none;
}

.logo {
    margin-left: 70px;
    text-decoration: none;
    color: #D2872C;
    font-size: 2rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    margin-right: 50px;
    cursor: pointer;
}

nav ul li {
    margin-right: 50px;
}

ul li:hover {
    color: #D2872C;
}

.title {
    position: relative;
    width: 40%;
    font-size: 3rem;
    color: #766F68;
    top: 20px;
    left: 200px;
    z-index: 1;
}

.subtitle {
    position: relative;
    width: 25%;
    font-size: 1.2rem;
    color: #766F68;
    top: 40px;
    left: 200px;
    z-index: 1;
}

.btn {
    position: relative;
    top: 70px;
    left: 200px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    background-color: #D2872C;
    padding: 12px 70px;
    border-radius: 10px;
    transition: .4s;
}

.btn:hover {
    color: #D2872C;
    background-color: #fff;
    border: 1px solid #D2872C;
}

.img {
    position: absolute;
    top: 160px;
    left: 460px;
    width: 50%;
    height: 60%;
}

@media (max-width: 320px) {
    header .menu-mobile {
        display: flex;
        font-size: 1.2rem;
        margin-right: 20px;
    }
    
    .logo {
        margin-left: 35px;
    }
    
    nav {
        display: none;
    }

    .title {
        width: 100%;
        font-size: 2.2rem;
        top: 150px;
        left: 5px;
        text-align: center;
    }

    .subtitle {
        width: 80%;
        font-size: 1rem;
        font-weight: normal;
        top: 160px;
        left: 40px;
        text-align: center;
    }

    .btn {
        top: 200px;
        left: 60px;
        font-size: 1.2rem;
    }

    .img {
        margin-top: -70px;
        left: 30px;
        width: 80%;
        height: 30%;
    }
    
}



